body{
    background-color: #fce3ee;
    /* cursor: url(https://files.cargocollective.com/c987293/mouse2-verde.png), auto !important; */
}
html{
    cursor: url(https://files.cargocollective.com/c987293/mouse2-verde.png), auto !important;
}

.container {
    /* width: 740px; */
    margin: 400px auto;
    padding: 1em;
    /* font-family: 'ZCOOL QingKe HuangYou', cursive; */
    font-size: 15px;
    overflow: hidden;
    text-align: center;
    /* height: 740px; */
}

a {
    color:black;
    text-decoration: none;
}